USE [CafeManagement]
GO
ALTER TABLE [dbo].[SanPhams] DROP CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPhamId]
GO
ALTER TABLE [dbo].[SanPhamHoaDons] DROP CONSTRAINT [FK_dbo.SanPhamHoaDons_dbo.SanPhams_SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[SanPhamHoaDons] DROP CONSTRAINT [FK_dbo.SanPhamHoaDons_dbo.HoaDons_HoaDon_HoaDonId]
GO
ALTER TABLE [dbo].[PhieuNhaps] DROP CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhanViens_NhanVienId]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] DROP CONSTRAINT [FK_dbo.NhaCungCapHangHoas_dbo.NhaCungCaps_NhaCungCap_NhaCungCapId]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] DROP CONSTRAINT [FK_dbo.NhaCungCapHangHoas_dbo.HangHoas_HangHoa_HangHoaId]
GO
ALTER TABLE [dbo].[HoaDons] DROP CONSTRAINT [FK_dbo.HoaDons_dbo.NhanViens_NhanVienId]
GO
ALTER TABLE [dbo].[HoaDons] DROP CONSTRAINT [FK_dbo.HoaDons_dbo.Bans_Ban_BanId]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] DROP CONSTRAINT [FK_dbo.HangHoaPhieuNhaps_dbo.PhieuNhaps_PhieuNhap_PhieuNhapId]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] DROP CONSTRAINT [FK_dbo.HangHoaPhieuNhaps_dbo.HangHoas_HangHoa_HangHoaId]
GO
ALTER TABLE [dbo].[SanPhamHoaDons] DROP CONSTRAINT [DF__SanPhamHo__SoLuo__75A278F5]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] DROP CONSTRAINT [DF__NhaCungCa__DonGi__797309D9]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] DROP CONSTRAINT [DF__NhaCungCa__SoLuo__787EE5A0]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] DROP CONSTRAINT [DF__HangHoaPh__DonGi__778AC167]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] DROP CONSTRAINT [DF__HangHoaPh__SoLuo__76969D2E]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[SanPhams]
GO
/****** Object:  Table [dbo].[SanPhamHoaDons]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[SanPhamHoaDons]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[PhieuNhaps]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[NhanViens]
GO
/****** Object:  Table [dbo].[NhaCungCaps]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[NhaCungCaps]
GO
/****** Object:  Table [dbo].[NhaCungCapHangHoas]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[NhaCungCapHangHoas]
GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[LoaiSanPhams]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[HoaDons]
GO
/****** Object:  Table [dbo].[HangHoas]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[HangHoas]
GO
/****** Object:  Table [dbo].[HangHoaPhieuNhaps]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[HangHoaPhieuNhaps]
GO
/****** Object:  Table [dbo].[Bans]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[Bans]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/15/2019 15:49:16 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/15/2019 15:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bans]    Script Date: 10/15/2019 15:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bans](
	[BanId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Bans] PRIMARY KEY CLUSTERED 
(
	[BanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoaPhieuNhaps]    Script Date: 10/15/2019 15:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoaPhieuNhaps](
	[HangHoa_HangHoaId] [int] NOT NULL,
	[PhieuNhap_PhieuNhapId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_dbo.HangHoaPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[HangHoa_HangHoaId] ASC,
	[PhieuNhap_PhieuNhapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoas]    Script Date: 10/15/2019 15:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoas](
	[HangHoaId] [int] IDENTITY(1,1) NOT NULL,
	[TenHangHoa] [nvarchar](max) NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_dbo.HangHoas] PRIMARY KEY CLUSTERED 
(
	[HangHoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 10/15/2019 15:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[HoaDonId] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NhanVienId] [int] NOT NULL,
	[Ban_BanId] [int] NULL,
 CONSTRAINT [PK_dbo.HoaDons] PRIMARY KEY CLUSTERED 
(
	[HoaDonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 10/15/2019 15:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhams](
	[LoaiSanPhamId] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSanPham] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[LoaiSanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCapHangHoas]    Script Date: 10/15/2019 15:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCapHangHoas](
	[NhaCungCap_NhaCungCapId] [int] NOT NULL,
	[HangHoa_HangHoaId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_dbo.NhaCungCapHangHoas] PRIMARY KEY CLUSTERED 
(
	[NhaCungCap_NhaCungCapId] ASC,
	[HangHoa_HangHoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCaps]    Script Date: 10/15/2019 15:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCaps](
	[NhaCungCapId] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NhaCungCaps] PRIMARY KEY CLUSTERED 
(
	[NhaCungCapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 10/15/2019 15:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[NhanVienId] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNV] [nvarchar](max) NULL,
	[SDT_NV] [nvarchar](max) NULL,
	[CMND] [int] NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[NgayVaoLam] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.NhanViens] PRIMARY KEY CLUSTERED 
(
	[NhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 10/15/2019 15:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhaps](
	[PhieuNhapId] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NhanVienId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[PhieuNhapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamHoaDons]    Script Date: 10/15/2019 15:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamHoaDons](
	[SanPham_SanPhamId] [int] NOT NULL,
	[HoaDon_HoaDonId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SanPhamHoaDons] PRIMARY KEY CLUSTERED 
(
	[SanPham_SanPhamId] ASC,
	[HoaDon_HoaDonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 10/15/2019 15:49:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[SanPhamId] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[DonGia] [float] NOT NULL,
	[LoaiSanPhamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SanPhams] PRIMARY KEY CLUSTERED 
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[SanPhamHoaDons] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HangHoaPhieuNhaps_dbo.HangHoas_HangHoa_HangHoaId] FOREIGN KEY([HangHoa_HangHoaId])
REFERENCES [dbo].[HangHoas] ([HangHoaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] CHECK CONSTRAINT [FK_dbo.HangHoaPhieuNhaps_dbo.HangHoas_HangHoa_HangHoaId]
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HangHoaPhieuNhaps_dbo.PhieuNhaps_PhieuNhap_PhieuNhapId] FOREIGN KEY([PhieuNhap_PhieuNhapId])
REFERENCES [dbo].[PhieuNhaps] ([PhieuNhapId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoaPhieuNhaps] CHECK CONSTRAINT [FK_dbo.HangHoaPhieuNhaps_dbo.PhieuNhaps_PhieuNhap_PhieuNhapId]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDons_dbo.Bans_Ban_BanId] FOREIGN KEY([Ban_BanId])
REFERENCES [dbo].[Bans] ([BanId])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_dbo.HoaDons_dbo.Bans_Ban_BanId]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDons_dbo.NhanViens_NhanVienId] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanViens] ([NhanVienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_dbo.HoaDons_dbo.NhanViens_NhanVienId]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhaCungCapHangHoas_dbo.HangHoas_HangHoa_HangHoaId] FOREIGN KEY([HangHoa_HangHoaId])
REFERENCES [dbo].[HangHoas] ([HangHoaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] CHECK CONSTRAINT [FK_dbo.NhaCungCapHangHoas_dbo.HangHoas_HangHoa_HangHoaId]
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhaCungCapHangHoas_dbo.NhaCungCaps_NhaCungCap_NhaCungCapId] FOREIGN KEY([NhaCungCap_NhaCungCapId])
REFERENCES [dbo].[NhaCungCaps] ([NhaCungCapId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhaCungCapHangHoas] CHECK CONSTRAINT [FK_dbo.NhaCungCapHangHoas_dbo.NhaCungCaps_NhaCungCap_NhaCungCapId]
GO
ALTER TABLE [dbo].[PhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhanViens_NhanVienId] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanViens] ([NhanVienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhaps] CHECK CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhanViens_NhanVienId]
GO
ALTER TABLE [dbo].[SanPhamHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhamHoaDons_dbo.HoaDons_HoaDon_HoaDonId] FOREIGN KEY([HoaDon_HoaDonId])
REFERENCES [dbo].[HoaDons] ([HoaDonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamHoaDons] CHECK CONSTRAINT [FK_dbo.SanPhamHoaDons_dbo.HoaDons_HoaDon_HoaDonId]
GO
ALTER TABLE [dbo].[SanPhamHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhamHoaDons_dbo.SanPhams_SanPham_SanPhamId] FOREIGN KEY([SanPham_SanPhamId])
REFERENCES [dbo].[SanPhams] ([SanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamHoaDons] CHECK CONSTRAINT [FK_dbo.SanPhamHoaDons_dbo.SanPhams_SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPhamId] FOREIGN KEY([LoaiSanPhamId])
REFERENCES [dbo].[LoaiSanPhams] ([LoaiSanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_LoaiSanPhamId]
GO
